<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offert-lg-4 offset-md-3">
                <div class="panel border bg-white"><button id="jezikdugme" (click)="changeLanguage()" type="button" class="language-btn">EN/GR</button>
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold h3-login">Login</h3>
                        
                    </div>
                    
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['user_name'].dirty && loginForm.hasError('minlength','user_name')" >
                                    <span class="fa fa-user p-2">
                                        
                                    </span>
                                    <input pattern="^^([a-zA-Z0-9]+\s?)*[a-zA-Z0-9]+$"  class="input-username" formControlName="user_name" minlength="4" maxlength="20" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small class="error-username text-danger" *ngIf=" loginForm.controls['user_name'].dirty && loginForm.hasError('minlength','user_name')" >Please enter a valid first name with 4 to 20 letters.
                            </small>

                            <small class="error-req text-danger" *ngIf=" loginForm.controls['user_name'].dirty && loginForm.hasError('required','user_name')" >Please fill all required fields.

                            </small>
                            <small class="error-req text-danger" *ngIf=" loginForm.controls['user_name'].dirty && loginForm.hasError('pattern','user_name')"  >Space is not allowed!

                            </small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('minlength','password')">
                                    <span class="fa fa-lock p-2">
                                        
                                    </span>
                                    <input class="input-password" formControlName="password" minlength="8" maxlength="25" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()"  class="fa  fa-{{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small class="error-password" *ngIf=" loginForm.controls['password'].dirty && loginForm.hasError('minlength','password')" class="text-danger">Please enter a valid password with 8 to 25 letters.</small>
                            <small class="error-req" *ngIf=" loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">Please fill all required fields.

                            </small>

                           
                            <div class="form-inline fr mt-4">
                               
                            </div>
                            <button [disabled]="!loginForm.valid" (click)="handleSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100 login-dugme">Login</button>
                            <div class="text-center pt-4 text-muted div-dont">Do't have account? <a class="a-signup" id="forget" routerLink="/signup">Sign up</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>